@model List<Users>
@{
    ViewData["Title"] = "Index";
}
<main>
    <section id="Intro">
        <div class="container">
            <div class="row">
                <div class="about">
                    <h1>Startup Focused Tailwind CSS Template</h1>
                    <p>
                        A Complete Tailwind CSS Web Template Crafted for - Startup, SaaS, Business, Software and
                        Agencies. Comes with high-quality design and everything you need!
                    </p>
                    <button class="btn btn-primary">Get Started</button>
                    <span><button class="btn btn-danger">Learn More</button></span>
                </div>
            </div>
        </div>
    </section>
    <section id="Features">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="cards">
                        <i class="fa-solid fa-border-all"></i>
                        <h4>
                            Crafted for Startups
                        </h4>
                        <p>
                            Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus quisquam
                            numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores.
                        </p>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="cards">
                        <i class="fa-solid fa-face-grin"></i>
                        <h4>
                            Crafted for Startups
                        </h4>
                        <p>
                            Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus quisquam
                            numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cards">
                        <i class="fa-solid fa-face-grin-squint-tears"></i>
                        <h4>
                            Crafted for Startups
                        </h4>
                        <p>
                            Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus quisquam
                            numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cards">
                        <i class="fa-solid fa-face-grin-stars"></i>
                        <h4>
                            Crafted for Startups
                        </h4>
                        <p>
                            Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus quisquam
                            numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cards">
                        <i class="fa-solid fa-burger"></i>
                        <h4>
                            Crafted for Startups
                        </h4>
                        <p>
                            Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus quisquam
                            numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cards">
                        <i class="fa-solid fa-mortar-pestle"></i>
                        <h4>
                            Crafted for Startups
                        </h4>
                        <p>
                            Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus quisquam
                            numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="video">
        <div class="container">
            <div class="row">
                <div class="desc">
                    <h1>
                        We are ready to help
                    </h1>
                    <p>
                        There are many variations of passages of Lorem Ipsum available but the majority have suffered
                        alteration in some form.
                    </p>
                </div>
                <div class="videos">
                    <img src="./assets/img/video.jpg" alt="">
                </div>

            </div>
        </div>
    </section>
    <section id="works">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="icons">
                        <div class="iconsDesc">
                            <i class="fa-brands fa-uikit"></i>
                            <span>
                                <h1>Deck</h1>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="icons">
                        <div class="iconsDesc">
                            <i class="fa-brands fa-uikit"></i>
                            <span>
                                <h1>Deck</h1>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="icons">
                        <div class="iconsDesc">
                            <i class="fa-brands fa-uikit"></i>
                            <span>
                                <h1>Deck</h1>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="icons">
                        <div class="iconsDesc">
                            <i class="fa-brands fa-uikit"></i>
                            <span>
                                <h1>Deck</h1>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="Crafted">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about">
                        <h1>Crafted for Startup, SaaS and Business Sites.</h1>
                        <p>
                            The main ‘thrust’ is to focus on educating attendees on how to best protect highly
                            vulnerable business applications with interactive panel discussions and roundtables.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="cardsInfo">
                                <i class="fa-solid fa-check"></i>
                                <span>Premium quality </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="cardsInfo">
                                <i class="fa-solid fa-check"></i>
                                <span>Premium quality </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="cardsInfo">
                                <i class="fa-solid fa-check"></i>
                                <span>Premium quality </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="cardsInfo">
                                <i class="fa-solid fa-check"></i>
                                <span>Premium quality </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="cardsInfo">
                                <i class="fa-solid fa-check"></i>
                                <span>Premium quality </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="cardsInfo">
                                <i class="fa-solid fa-check"></i>
                                <span>Premium quality </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="images">
                        <img src="./assets/img/about-image.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="bugFix">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="img">
                        <img src="./assets/img/about-image-2.svg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="desc">
                                <h1>
                                    Bug free code
                                </h1>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="desc">
                                <h1>
                                    Bug free code
                                </h1>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="desc">
                                <h1>
                                    Regular updates
                                </h1>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="OurUsers">
        <div class="container">
            <div class="row">
                <div class="ab">
                    <h1>
                        What Our Users Says
                    </h1>
                    <p>
                        There are many variations of passages of Lorem Ipsum available but the majority have suffered
                        alteration in some form.
                    </p>

                </div>
                @foreach (var item in Model)
                {
                    <div class="col-lg-4">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                @for (var i = 0; i < item.Raiting; i++)
                                {
                                    <i class="fa fa-star"></i>

                                }
                                @for (var i = 0; i < 5 - item.Raiting; i++)
                                {

                                    <i style="color:black" class="fa fa-star"></i>
                                }
                                <p class="card-text">
                                  @item.Description
                                </p>

                                <hr>
                                <img style="width: 20%;" src="~/assets/userImg/@item.ImageUrl" class="card-img-top"
                                 alt="..."><span>@item.Name</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
     <section id="Pricing">
            <div class="container">
                <div class="row">
                    <div class="about">
                        <h1>Simple and Affordable Pricing
                        </h1>
                        <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered
                            alteration in some form.</p>
                    </div>
                    <div class="col-lg-4">
                        <div class="card" style="width: 18rem;">
                            <h1>40$ <span>/MO</span></h1>
                            <p>Lorem ipsum dolor sit amet adiscing elit Mauris egestas enim.</p>
                            <div class="card-body">
                                <button class="btn btn-primary">Start Free Trial</button>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <i class="fa-solid fa-check"></i> <span>All UI Components</span>
                                    </div>
                                    <div class="col-lg-12">
                                        <i class="fa-solid fa-check"></i> <span>Use with Unlimited Projects
                                        </span>
                                    </div>
                                    <div class="col-lg-12">
                                        <i class="fa-solid fa-check"></i> <span>Commercial Use
                                        </span>
                                    </div>
                                    <div class="col-lg-12">
                                        <i class="fa-solid fa-check"></i> <span>Email Support</span>
                                    </div>
                                    <div class="col-lg-12">
                                        <i class="fa-solid fa-check"></i> <span>Lifetime Access
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card" style="width: 18rem;">
                            <h1>399$ <span>/MO</span></h1>
                            <p>Lorem ipsum dolor sit amet adiscing elit Mauris egestas enim.</p>
                            <div class="card-body">
                                <button class="btn btn-primary">Start Free Trial</button>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <i class="fa-solid fa-check"></i> <span>All UI Components</span>
                                    </div>
                                    <div class="col-lg-12">
                                        <i class="fa-solid fa-check"></i> <span>Use with Unlimited Projects
                                        </span>
                                    </div>
                                    <div class="col-lg-12">
                                        <i class="fa-solid fa-check"></i> <span>Commercial Use
                                        </span>
                                    </div>
                                    <div class="col-lg-12">
                                        <i class="fa-solid fa-check"></i> <span>Email Support</span>
                                    </div>
                                    <div class="col-lg-12">
                                        <i class="fa-solid fa-check"></i> <span>Lifetime Access
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card" style="width: 18rem;">
                            <h1>1000$ <span>/MO</span></h1>
                            <p>Lorem ipsum dolor sit amet adiscing elit Mauris egestas enim.</p>
                            <div class="card-body">
                                <button class="btn btn-primary">Start Free Trial</button>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <i class="fa-solid fa-check"></i> <span>All UI Components</span>
                                    </div>
                                    <div class="col-lg-12">
                                        <i class="fa-solid fa-check"></i> <span>Use with Unlimited Projects
                                        </span>
                                    </div>
                                    <div class="col-lg-12">
                                        <i class="fa-solid fa-check"></i> <span>Commercial Use
                                        </span>
                                    </div>
                                    <div class="col-lg-12">
                                        <i class="fa-solid fa-check"></i> <span>Email Support</span>
                                    </div>
                                    <div class="col-lg-12">
                                        <i class="fa-solid fa-check"></i> <span>Lifetime Access
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="forms">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <form>
                            <div class="mb-3">
                                <div class="ab">
                                    <h1 style="color: white;">
                                        Need Help? Open a Ticket
                                    </h1>
                                    <p style="color: white;">Our support team will get back to you ASAP via email.
                                    </p>
                                </div>
                            </div>
                            <div class="mb-3">
                                <p style="color: white ;">Your Name</p>
                                <input type="text" class="form-control w-75">
                            </div>
                            <div class="mb-3">
                                <label style="color: white;" for="exampleInputPassword1" class="form-label">Your
                                    Email</label>
                                <input type="email" class="form-control w-75" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label style="color: white;" for="exampleInputPassword1" class="form-label">Your
                                    Message</label>
                                <textarea class="form-control w-75" name="" id="" cols="10" rows="5"
                                    placeholder="Message"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                
                </div>
            </div>
        </section>

</main>
